# Nice Ride Analysis Notebook

### Import data and set up for working

In [1]:
# Import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
import datetime

In [9]:
#Import data

csv_path = "Resources/Nice_ride_trip_history_"
year_2015 = pd.read_csv(f"{csv_path}2015_season.csv", low_memory=False)
year_2016 = pd.read_csv(f"{csv_path}2016_season.csv", low_memory=False)
year_2017 = pd.read_csv(f"{csv_path}2017_season.csv", low_memory=False)
year_2018 = pd.read_csv(f"{csv_path}2018_season.csv", low_memory=False)
year_2019 = pd.read_csv(f"{csv_path}2019_season.csv", low_memory=False)
year_2020 = pd.read_csv(f"{csv_path}2020_season.csv", low_memory=False)

In [18]:
# Create initial Data Frames
# 2015
df_2015 = pd.DataFrame(year_2015)
df_2015.head()

,start_datetime,start_station_name,start_station_id,end_datetime,end_station_name,end_station_id,total_duration_sec,account_type
0,2015-04-01 08:00:00,Midtown Exchange,30008,2015-04-01 08:01:00,Midtown Exchange,30008,61,Member
1,2015-04-01 08:33:00,2nd Street N & 8th Ave. N,30092,2015-04-01 08:46:00,11th Street & Hennepin,30004,771,Member
2,2015-04-01 08:36:00,2nd Street N & 8th Ave. N,30092,2015-04-01 08:45:00,Hennepin Ave & 4th Street,30055,522,Member
3,2015-04-01 08:46:00,North 2nd Street & 4th Ave N,30011,2015-04-01 08:57:00,10th Street & Nicollet Mall,30039,679,Member
4,2015-04-01 08:56:00,Coffman Union,30024,2015-04-01 09:01:00,Riverside Ave & 23rd Ave S,30002,285,Member

In [19]:
# 2015 Fix dtypes

df_2015.start_datetime = pd.to_datetime(df_2015.start_datetime)
df_2015.end_datetime = pd.to_datetime(df_2015.end_datetime)
df_2015.start_station_name = df_2015.start_station_name.astype(str)
df_2015.end_station_name = df_2015.end_station_name.astype(str)
df_2015.account_type = df_2015.account_type.astype(str)
df_2015.start_station_id = df_2015.start_station_id.astype(str)
df_2015.end_station_id = df_2015.end_station_id.astype(str)

df_2015.dtypes

start_datetime        datetime64[ns]
start_station_name            object
start_station_id              object
end_datetime          datetime64[ns]
end_station_name              object
end_station_id                object
total_duration_sec             int64
account_type                  object
dtype: object

In [20]:
# 2016
df_2016 = pd.DataFrame(year_2016)
df_2016.head()

,start_datetime,start_station_name,start_station_id,end_datetime,end_station_name,end_station_id,total_duration_sec,account_type
0,2016-04-04 08:50:00,Midtown Exchange,30008,2016-04-04 08:52:00,Midtown Exchange,30008,84,Member
1,2016-04-04 09:35:00,Washington & Marquette,30028,2016-04-04 09:51:00,Social Sciences,30019,952,Member
2,2016-04-04 10:12:00,West 15th Street & Willow,30093,2016-04-04 10:14:00,West 15th Street & Willow,30093,104,Member
3,2016-04-04 10:14:00,West 15th Street & Willow,30093,2016-04-04 10:19:00,11th Street & Hennepin,30004,292,Member
4,2016-04-04 10:19:00,Washington & Marquette,30028,2016-04-04 10:33:00,Elliot Hall,30058,870,Member

In [21]:
# 2016 Fix dtypes

df_2016.start_datetime = pd.to_datetime(df_2016.start_datetime)
df_2016.end_datetime = pd.to_datetime(df_2016.end_datetime)
df_2016.start_station_name = df_2016.start_station_name.astype(str)
df_2016.end_station_name = df_2016.end_station_name.astype(str)
df_2016.account_type = df_2016.account_type.astype(str)
df_2016.start_station_id = df_2016.start_station_id.astype(str)
df_2016.end_station_id = df_2016.end_station_id.astype(str)

df_2016.dtypes

start_datetime        datetime64[ns]
start_station_name            object
start_station_id              object
end_datetime          datetime64[ns]
end_station_name              object
end_station_id                object
total_duration_sec             int64
account_type                  object
dtype: object

In [22]:
# 2017
df_2017 = pd.DataFrame(year_2017)
df_2017.head()

,start_datetime,start_station_name,start_station_id,end_datetime,end_station_name,end_station_id,account_type,total_duration_sec
0,2017-04-03 09:19:00,Portland Ave & Washington Ave,30090,2017-04-03 09:25:00,Currie Park,30037,Member,361
1,2017-04-03 09:27:00,Marshall Street NE & 8th Ave NE,30098,2017-04-03 09:36:00,2nd Ave S & S 3rd Street,30050,Member,532
2,2017-04-03 09:41:00,2nd Ave S & S 3rd Street,30050,2017-04-03 10:13:00,Grant Street & Portland Ave,30087,Member,1887
3,2017-04-03 09:45:00,Grant Street & Portland Ave,30087,2017-04-03 09:50:00,Hennepin County Government Center,30029,Member,340
4,2017-04-03 09:46:00,Portland Ave & Washington Ave,30090,2017-04-03 09:55:00,4th Street S & 19th Ave,30027,Member,571

In [23]:
# 2017 Fix dtypes

df_2017.start_datetime = pd.to_datetime(df_2017.start_datetime)
df_2017.end_datetime = pd.to_datetime(df_2017.end_datetime)
df_2017.start_station_name = df_2017.start_station_name.astype(str)
df_2017.end_station_name = df_2017.end_station_name.astype(str)
df_2017.account_type = df_2017.account_type.astype(str)
df_2017.start_station_id = df_2017.start_station_id.astype(str)
df_2017.end_station_id = df_2017.end_station_id.astype(str)

df_2017.dtypes

start_datetime        datetime64[ns]
start_station_name            object
start_station_id              object
end_datetime          datetime64[ns]
end_station_name              object
end_station_id                object
account_type                  object
total_duration_sec             int64
dtype: object

In [6]:
# 2018
df_2018 = pd.DataFrame(year_2018)
df_2018.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,2490,2018-04-12 08:49:49.855,2018-04-12 09:31:20.522,10.0,Midtown Exchange,44.948590,-93.260200,45.0,Franklin & Portland,44.962841,-93.267521,Member,Classic
1,228,2018-04-12 09:29:22.149,2018-04-12 09:33:10.525,16.0,22nd Ave S & Franklin Ave,44.962930,-93.241042,49.0,Franklin & 28th Ave,44.962701,-93.230893,Member,Classic
2,80,2018-04-12 10:15:30.340,2018-04-12 10:16:51.143,21.0,Social Sciences,44.970639,-93.243552,209.0,Willey Hall,44.972404,-93.242891,Member,Classic
3,755,2018-04-12 11:02:00.775,2018-04-12 11:14:36.357,10.0,Midtown Exchange,44.948590,-93.260200,31.0,Hennepin County Government Center,44.976602,-93.266701,Member,Classic
4,850,2018-04-12 11:09:51.580,2018-04-12 11:24:02.195,18.0,Walker Art Center,44.967104,-93.289075,31.0,Hennepin County Government Center,44.976602,-93.266701,Member,Classic

In [25]:
# 2018 Fix dtypes

df_2018.start_datetime = pd.to_datetime(df_2018.start_datetime)
df_2018.end_datetime = pd.to_datetime(df_2018.end_datetime)
df_2018.start_station_name = df_2018.start_station_name.astype(str)
df_2018.end_station_name = df_2018.end_station_name.astype(str)
df_2018.account_type = df_2018.account_type.astype(str)
df_2018.start_station_id = df_2018.start_station_id.astype(str)
df_2018.end_station_id = df_2018.end_station_id.astype(str)

df_2018.dtypes

total_duration_sec             int64
start_datetime        datetime64[ns]
end_datetime          datetime64[ns]
start_station_id              object
start_station_name            object
start_station_lat            float64
start_station_lng            float64
end_station_id                object
end_station_name              object
end_station_lat              float64
end_station_lng              float64
account_type                  object
bike_type                     object
dtype: object

In [7]:
# 2019
df_2019 = pd.DataFrame(year_2019)
df_2019.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,3568,2019-04-22 09:03:33.721,2019-04-22 10:03:02.667,188.0,Sanford Hall,44.980831,-93.240282,190.0,Weisman Art Museum,44.973428,-93.237319,Member,Classic
1,223,2019-04-22 09:35:15.017,2019-04-22 09:38:58.405,188.0,Sanford Hall,44.980831,-93.240282,190.0,Weisman Art Museum,44.973428,-93.237319,Member,Classic
2,563,2019-04-22 09:37:10.081,2019-04-22 09:46:33.891,94.0,Portland Ave & Washington Ave,44.978210,-93.260230,62.0,Elliot Hall,44.976850,-93.238180,Casual,Classic
3,10159,2019-04-22 09:50:10.687,2019-04-22 12:39:29.879,188.0,Sanford Hall,44.980831,-93.240282,188.0,Sanford Hall,44.980831,-93.240282,Member,Classic
4,407,2019-04-22 09:53:28.169,2019-04-22 10:00:16.034,94.0,Portland Ave & Washington Ave,44.978210,-93.260230,95.0,Gateway Park,44.982594,-93.267514,Casual,Classic

In [26]:
# 2019 Fix dtypes

df_2019.start_datetime = pd.to_datetime(df_2019.start_datetime)
df_2019.end_datetime = pd.to_datetime(df_2019.end_datetime)
df_2019.start_station_name = df_2019.start_station_name.astype(str)
df_2019.end_station_name = df_2019.end_station_name.astype(str)
df_2019.account_type = df_2019.account_type.astype(str)
df_2019.start_station_id = df_2019.start_station_id.astype(str)
df_2019.end_station_id = df_2019.end_station_id.astype(str)

df_2019.dtypes

total_duration_sec             int64
start_datetime        datetime64[ns]
end_datetime          datetime64[ns]
start_station_id              object
start_station_name            object
start_station_lat            float64
start_station_lng            float64
end_station_id                object
end_station_name              object
end_station_lat              float64
end_station_lng              float64
account_type                  object
bike_type                     object
dtype: object

In [27]:
# 2020 
df_2020 = pd.DataFrame(year_2020)
df_2020.head()

,bike_type,start_datetime,end_datetime,start_station_name,start_station_id,end_station_name,end_station_id,start_station_lat,start_station_lng,end_station_lat,end_station_lng,account_type,month,day
0,docked_bike,2020-04-01 13:47:57,2020-04-01 13:48:29,NRM Bike Shop 2,609.0,NRM Bike Shop 2,609.0,44.9832,-93.2237,44.9832,-93.2237,Casual,4,1
1,docked_bike,2020-04-01 13:48:56,2020-04-01 13:49:20,NRM Bike Shop 2,609.0,NRM Bike Shop 2,609.0,44.9832,-93.2237,44.9832,-93.2237,Casual,4,1
2,docked_bike,2020-04-01 13:49:36,2020-04-01 13:49:41,NRM Bike Shop 2,609.0,NRM Bike Shop 2,609.0,44.9832,-93.2237,44.9832,-93.2237,Casual,4,1
3,docked_bike,2020-04-01 13:52:59,2020-04-01 13:53:02,NRM Bike Shop 2,609.0,NRM Bike Shop 2,609.0,44.9832,-93.2237,44.9832,-93.2237,Casual,4,1
4,docked_bike,2020-04-01 13:53:21,2020-04-01 13:53:33,NRM Bike Shop 2,609.0,NRM Bike Shop 2,609.0,44.9832,-93.2237,44.9832,-93.2237,Casual,4,1

In [28]:
# 2020 Fix dtypes

df_2020.start_datetime = pd.to_datetime(df_2020.start_datetime)
df_2020.end_datetime = pd.to_datetime(df_2020.end_datetime)
df_2020.start_station_name = df_2020.start_station_name.astype(str)
df_2020.end_station_name = df_2020.end_station_name.astype(str)
df_2020.account_type = df_2020.account_type.astype(str)
df_2020.start_station_id = df_2020.start_station_id.astype(str)
df_2020.end_station_id = df_2020.end_station_id.astype(str)

df_2020.dtypes

bike_type                     object
start_datetime        datetime64[ns]
end_datetime          datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_station_lat            float64
start_station_lng            float64
end_station_lat              float64
end_station_lng              float64
account_type                  object
month                          int64
day                            int64
dtype: object

# This is the Steph section - begin here

In [31]:
# Calculate total number of rides per day, by year
# 2015

# Split datetime column into two values
df_2015["month"] = df_2015.start_datetime.dt.month
df_2015["day"] = df_2015.start_datetime.dt.day
df_2015.head()

# Group by month, day
per_day_15 = df_2015.groupby([df_2015.month, df_2015.day]).count()
per_day_15 = pd.DataFrame(per_day_15)
per_day_15

           start_datetime  start_station_name  start_station_id  end_datetime  \
month day
4     1               557                 557               557           557
      2              1037                1037              1037          1037
      3               692                 692               692           692
      4              1292                1292              1292          1292
      5               605                 605               605           605
...                   ...                 ...               ...           ...
10    28              426                 426               426           426
      29              841                 841               841           841
      30             1040                1040              1040          1040
      31              603                 603               603           603
11    1              1047                1047              1047          1047

           end_station_name  end_station_id  total_duration_sec  account_type
month day
4     1                 557             557                 557           557
      2                1037            1037                1037          1037
      3                 692             692                 692           692
      4                1292            1292                1292          1292
      5                 605             605                 605           605
...                     ...             ...                 ...           ...
10    28                426             426                 426           426
      29                841             841                 841           841
      30               1040            1040                1040          1040
      31                603             603                 603           603
11    1                1047            1047                1047          1047

[215 rows x 8 columns]

In [32]:
# 2016
# Split datetime column into two values
df_2016["month"] = df_2016.start_datetime.dt.month
df_2016["day"] = df_2016.start_datetime.dt.day
df_2016.head()

# Group by month, day
per_day_16 = df_2016.groupby([df_2016.month, df_2016.day]).count()
per_day_16 = pd.DataFrame(per_day_16)
per_day_16

           start_datetime  start_station_name  start_station_id  end_datetime  \
month day
4.0   4.0             197                 197               197           197
      5.0             284                 284               284           284
      6.0             471                 471               471           471
      7.0             446                 446               446           446
      8.0             436                 436               436           436
...                   ...                 ...               ...           ...
11.0  2.0            1310                1310              1310          1310
      3.0            1349                1349              1349          1349
      4.0            1528                1528              1528          1528
      5.0            2103                2103              2103          2103
      6.0            1823                1823              1823          1823

           end_station_name  end_station_id  total_duration_sec  account_type  \
month day
4.0   4.0               197             197                 197           197
      5.0               284             284                 284           284
      6.0               471             471                 471           471
      7.0               446             446                 446           446
      8.0               436             436                 436           436
...                     ...             ...                 ...           ...
11.0  2.0              1310            1310                1310          1310
      3.0              1349            1349                1349          1349
      4.0              1528            1528                1528          1528
      5.0              2103            2103                2103          2103
      6.0              1823            1823                1823          1823

           month   day
month day
4.0   4.0    197   197
      5.0    284   284
      6.0    471   471
      7.0    446   446
      8.0    436   436
...          ...   ...
11.0  2.0   1310  1310
      3.0   1349  1349
      4.0   1528  1528
      5.0   2103  2103
      6.0   1823  1823

[217 rows x 10 columns]

In [33]:
# 2017

# Split datetime column into two values
df_2017["month"] = df_2017.start_datetime.dt.month
df_2017["day"] = df_2017.start_datetime.dt.day
df_2017.head()

# Group by month, day
per_day_17 = df_2017.groupby([df_2017.month, df_2017.day]).count()
per_day_17 = pd.DataFrame(per_day_17)
per_day_17

           start_datetime  start_station_name  start_station_id  end_datetime  \
month day
4     3               543                 543               543           543
      4              1385                1385              1385          1385
      5              1205                1205              1205          1205
      6              1305                1305              1305          1305
      7              1659                1659              1659          1659
...                   ...                 ...               ...           ...
11    1               521                 521               521           521
      2               665                 665               665           665
      3               552                 552               552           552
      4               324                 324               324           324
      5               282                 282               282           282

           end_station_name  end_station_id  account_type  total_duration_sec  \
month day
4     3                 543             543           543                 543
      4                1385            1385          1385                1385
      5                1205            1205          1205                1205
      6                1305            1305          1305                1305
      7                1659            1659          1659                1659
...                     ...             ...           ...                 ...
11    1                 521             521           521                 521
      2                 665             665           665                 665
      3                 552             552           552                 552
      4                 324             324           324                 324
      5                 282             282           282                 282

           month   day
month day
4     3      543   543
      4     1385  1385
      5     1205  1205
      6     1305  1305
      7     1659  1659
...          ...   ...
11    1      521   521
      2      665   665
      3      552   552
      4      324   324
      5      282   282

[217 rows x 10 columns]

In [34]:
# 2018
# Split datetime column into two values
df_2018["month"] = df_2018.start_datetime.dt.month
df_2018["day"] = df_2018.start_datetime.dt.day
df_2018.head()

# Group by month, day
per_day_18 = df_2018.groupby([df_2018.month, df_2018.day]).count()
per_day_18 = pd.DataFrame(per_day_18)
per_day_18

           total_duration_sec  start_datetime  end_datetime  start_station_id  \
month day
4     12                  212             212           212               212
      13                  202             202           202               202
      14                   19              19            19                19
      15                   17              17            17                17
      16                   32              32            32                32
...                       ...             ...           ...               ...
11    13                  130             130           130               130
      14                  122             122           122               122
      15                   84              84            84                84
      16                   86              86            86                86
      17                   43              43            43                43

           start_station_name  start_station_lat  start_station_lng  \
month day
4     12                  212                212                212
      13                  202                202                202
      14                   19                 19                 19
      15                   17                 17                 17
      16                   32                 32                 32
...                       ...                ...                ...
11    13                  130                130                130
      14                  122                122                122
      15                   84                 84                 84
      16                   86                 86                 86
      17                   43                 43                 43

           end_station_id  end_station_name  end_station_lat  end_station_lng  \
month day
4     12              212               212              212              212
      13              202               202              202              202
      14               19                19               19               19
      15               17                17               17               17
      16               32                32               32               32
...                   ...               ...              ...              ...
11    13              130               130              130              130
      14              122               122              122              122
      15               84                84               84               84
      16               86                86               86               86
      17               43                43               43               43

           account_type  bike_type  month  day
month day
4     12            212        212    212  212
      13            202        202    202  202
      14             19         19     19   19
      15             17         17     17   17
      16             32         32     32   32
...                 ...        ...    ...  ...
11    13            130        130    130  130
      14            122        122    122  122
      15             84         84     84   84
      16             86         86     86   86
      17             43         43     43   43

[220 rows x 15 columns]

In [35]:
# 2019
# Split datetime column into two values
df_2019["month"] = df_2019.start_datetime.dt.month
df_2019["day"] = df_2019.start_datetime.dt.day
df_2019.head()

# Group by month, day
per_day_19 = df_2019.groupby([df_2019.month, df_2019.day]).count()
per_day_19 = pd.DataFrame(per_day_19)
per_day_19

           total_duration_sec  start_datetime  end_datetime  start_station_id  \
month day
4     22                  156             156           156               156
      23                 1100            1100          1100              1100
      24                 1351            1351          1351              1351
      25                 1387            1387          1387              1387
      26                 1387            1387          1387              1387
...                       ...             ...           ...               ...
11    26                  214             214           214               214
      27                   27              27            27                27
      28                   11              11            11                11
      29                   29              29            29                29
      30                   20              20            20                20

           start_station_name  start_station_lat  start_station_lng  \
month day
4     22                  156                156                156
      23                 1100               1100               1100
      24                 1351               1351               1351
      25                 1387               1387               1387
      26                 1387               1387               1387
...                       ...                ...                ...
11    26                  214                214                214
      27                   27                 27                 27
      28                   11                 11                 11
      29                   29                 29                 29
      30                   20                 20                 20

           end_station_id  end_station_name  end_station_lat  end_station_lng  \
month day
4     22              156               156              156              156
      23             1100              1100             1100             1100
      24             1351              1351             1351             1351
      25             1387              1387             1387             1387
      26             1387              1387             1387             1387
...                   ...               ...              ...              ...
11    26              214               214              214              214
      27               27                27               27               27
      28               11                11               11               11
      29               29                29               29               29
      30               20                20               20               20

           account_type  bike_type  month   day
month day
4     22            156        156    156   156
      23           1100       1100   1100  1100
      24           1351       1351   1351  1351
      25           1387       1387   1387  1387
      26           1387       1387   1387  1387
...                 ...        ...    ...   ...
11    26            214        214    214   214
      27             27         27     27    27
      28             11         11     11    11
      29             29         29     29    29
      30             20         20     20    20

[223 rows x 15 columns]

In [36]:
# 2020
# Split datetime column into two values
df_2020["month"] = df_2020.start_datetime.dt.month
df_2020["day"] = df_2020.start_datetime.dt.day
df_2020.head()

# Group by month, day
per_day_20 = df_2020.groupby([df_2020.month, df_2020.day]).count()
per_day_20 = pd.DataFrame(per_day_20)
per_day_20

           bike_type  start_datetime  end_datetime  start_station_name  \
month day
4     1          303             303           303                 303
      2          194             194           194                 194
      3          215             215           215                 215
      4          278             278           278                 278
      6          126             126           126                 126
...              ...             ...           ...                 ...
10    31         427             427           427                 427
11    1          270             270           270                 270
      2          417             417           417                 417
      3          762             762           762                 762
      4          651             651           651                 651

           start_station_id  end_station_name  end_station_id  \
month day
4     1                 303               303             303
      2                 194               194             194
      3                 215               215             215
      4                 278               278             278
      6                 126               126             126
...                     ...               ...             ...
10    31                427               427             427
11    1                 270               270             270
      2                 417               417             417
      3                 762               762             762
      4                 651               651             651

           start_station_lat  start_station_lng  end_station_lat  \
month day
4     1                  303                303              303
      2                  194                194              194
      3                  215                215              215
      4                  278                278              278
      6                  126                126              126
...                      ...                ...              ...
10    31                 427                427              425
11    1                  270                270              269
      2                  417                417              416
      3                  762                762              762
      4                  651                651              648

           end_station_lng  account_type  month  day
month day
4     1                303           303    303  303
      2                194           194    194  194
      3                215           215    215  215
      4                278           278    278  278
      6                126           126    126  126
...                    ...           ...    ...  ...
10    31               425           427    427  427
11    1                269           270    270  270
      2                416           417    417  417
      3                762           762    762  762
      4                648           651    651  651

[216 rows x 14 columns]

# This is the end of the Steph section