In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
nice_ride_nov_2020 = pd.read_csv("202011-niceride-tripdata.csv")

In [7]:
nice_ride_nov_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,15D6114DEE7104D3,classic_bike,2020-11-04 16:38:49,2020-11-04 17:35:55,Coldwater Spring,155.0,Coldwater Spring,155.0,44.905043,-93.198283,44.905043,-93.198283,casual
1,A15BBE5853937371,electric_bike,2020-11-03 19:16:10,2020-11-03 19:34:23,NaN,NaN,NaN,NaN,45.030000,-93.300000,45.030000,-93.300000,casual
2,3D9E90B86E98F735,electric_bike,2020-11-04 16:19:21,2020-11-04 17:05:45,NaN,NaN,NaN,NaN,44.990000,-93.320000,44.990000,-93.320000,casual
3,A97C0285A0D2D561,electric_bike,2020-11-04 14:27:08,2020-11-04 14:44:10,NaN,NaN,NaN,NaN,45.000000,-93.290000,45.000000,-93.290000,casual
4,C57CCC6B84485FC2,electric_bike,2020-11-04 16:11:59,2020-11-04 16:25:25,NaN,NaN,NaN,NaN,44.960000,-93.270000,44.940000,-93.250000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,DF1B0B902D347CAA,electric_bike,2020-11-03 13:28:26,2020-11-03 13:55:17,E 25th St & 30th Ave S,NaN,Lake of the Isles Park,806.0,44.960000,-93.230000,44.951438,-93.308441,casual
2096,5B52F3C8DAFEC7F9,electric_bike,2020-11-03 07:39:52,2020-11-03 07:47:39,Oak Grove St & Spruce Pl,NaN,Elliot Park,65.0,44.970000,-93.280000,44.970109,-93.261515,casual
2097,8B93D15891D546E1,electric_bike,2020-11-01 09:29:55,2020-11-01 09:33:04,S 10th Ave & Midtown Greenway,NaN,NaN,NaN,44.950000,-93.260000,44.960000,-93.260000,casual
2098,652BBD410D5F98DC,electric_bike,2020-11-01 00:50:46,2020-11-01 00:59:05,NaN,NaN,NaN,NaN,44.940000,-93.280000,44.940000,-93.260000,casual
2099,CDB0068F17557113,electric_bike,2020-11-03 18:46:53,2020-11-03 18:53:51,Chicago Ave & S 9th St,NaN,Oak Grove St & Clifton Pl,NaN,44.970000,-93.260000,44.970000,-93.290000,casual

In [5]:
nice_ride_aug_2018 = pd.read_csv("201808-niceride-tripdata.csv")

In [8]:
nice_ride_aug_2018

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,389,2018-08-01 08:47:36.8030,2018-08-01 08:54:06.0720,192.0,3rd Street N & 8th Ave N,44.987996,-93.279854,23.0,2nd Ave N & Washington Ave N,44.983800,-93.271032,2,Customer,1993,2,Classic
1,252,2018-08-02 07:43:01.8620,2018-08-02 07:47:14.2230,23.0,2nd Ave N & Washington Ave N,44.983800,-93.271032,184.0,S 5th Street & Nicollet Mall,44.978665,-93.270503,2,Customer,1983,1,Classic
2,284,2018-08-02 15:37:22.2800,2018-08-02 15:42:06.7130,184.0,S 5th Street & Nicollet Mall,44.978665,-93.270503,95.0,Gateway Park,44.982594,-93.267514,2,Customer,1962,2,Classic
3,2796,2018-08-02 17:11:41.5810,2018-08-02 17:58:18.0390,95.0,Gateway Park,44.982594,-93.267514,114.0,Lake Como Pavilion,44.981914,-93.143383,2,Customer,1960,1,Classic
4,3731,2018-08-02 19:04:28.8590,2018-08-02 20:06:40.2690,114.0,Lake Como Pavilion,44.981914,-93.143383,114.0,Lake Como Pavilion,44.981914,-93.143383,2,Customer,1969,0,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71729,823,2018-08-16 12:58:44.8680,2018-08-16 13:12:27.9710,NaN,NaN,44.950000,-93.220000,NaN,NaN,44.950000,-93.220000,2073,Subscriber,1982,1,Dockless
71730,255,2018-08-16 13:20:08.0280,2018-08-16 13:24:23.3480,NaN,NaN,44.950000,-93.220000,NaN,NaN,44.950000,-93.220000,2073,Subscriber,1982,1,Dockless
71731,2060,2018-08-16 16:23:42.3270,2018-08-16 16:58:02.7490,NaN,NaN,44.950000,-93.220000,NaN,NaN,44.950000,-93.220000,2073,Subscriber,1982,1,Dockless
71732,422,2018-08-21 09:18:27.6220,2018-08-21 09:25:30.4090,NaN,NaN,44.950000,-93.220000,NaN,NaN,44.950000,-93.220000,2073,Subscriber,1982,1,Dockless
71733,221,2018-08-21 09:33:33.4700,2018-08-21 09:37:14.8080,NaN,NaN,44.950000,-93.220000,NaN,NaN,44.950000,-93.220000,2073,Subscriber,1982,1,Dockless

In [9]:
nice_ride_aug_2020 = pd.read_csv("202008-niceride-tripdata.csv")
nice_ride_aug_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,008DEC4C09F52EFC,docked_bike,2020-08-14 18:22:09,2020-08-14 18:27:41,Coffman Union,26.0,McNamara Center,59.0,44.973378,-93.234762,44.974300,-93.228540,casual
1,43D671BD6362BB55,docked_bike,2020-08-09 20:27:08,2020-08-09 21:35:13,Currie Park,39.0,Currie Park,39.0,44.969225,-93.251136,44.969225,-93.251136,casual
2,728DA21E1CADD028,docked_bike,2020-08-31 13:04:16,2020-08-31 13:18:48,5th Street NE & 1st Ave NE,195.0,5th Ave S & S 8th Street,221.0,44.990328,-93.254295,44.972415,-93.266652,casual
3,7B5C3BB005E32C48,docked_bike,2020-08-01 17:59:13,2020-08-01 18:25:46,Logan Park,105.0,22nd Ave NE & California Street NE,198.0,44.998820,-93.252760,45.010119,-93.268598,casual
4,F51056DB78D8CB3A,docked_bike,2020-08-09 16:38:05,2020-08-09 16:46:12,Upton Ave S & Sheridan Ave S,167.0,Lake Harriet Bandshell,159.0,44.925150,-93.314597,44.929360,-93.307130,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49366,FC9F8262254ABF53,docked_bike,2020-08-27 17:47:32,2020-08-27 18:03:46,YWCA Downtown,8.0,YWCA Downtown,8.0,44.972217,-93.276435,44.972217,-93.276435,member
49367,8803D035B21763A8,docked_bike,2020-08-09 12:03:37,2020-08-09 12:42:31,YWCA Downtown,8.0,YWCA Downtown,8.0,44.972217,-93.276435,44.972217,-93.276435,member
49368,29F206B1B9046FAA,electric_bike,2020-08-20 17:33:55,2020-08-20 17:40:26,NaN,NaN,NaN,NaN,45.000000,-93.290000,45.000000,-93.300000,member
49369,B0FF9750E553EAF0,electric_bike,2020-08-20 17:03:32,2020-08-20 17:07:41,NaN,NaN,NaN,NaN,45.000000,-93.290000,45.000000,-93.290000,member
49370,60B7C6AA2A2DAEAD,electric_bike,2020-08-20 08:40:47,2020-08-20 08:52:04,NaN,NaN,NaN,NaN,45.000000,-93.300000,45.000000,-93.290000,member

In [11]:
nice_ride_jun_2019 = pd.read_csv("201906-niceride-tripdata.csv")
nice_ride_jun_2019

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,1388,2019-06-01 00:00:35.1290,2019-06-01 00:23:43.8060,98.0,University Ave NE & 12th Ave NE,44.999874,-93.262955,212.0,Bohemian Flats,44.976223,-93.241600,909,Customer,1999,1,Classic
1,340,2019-06-01 00:01:06.9880,2019-06-01 00:06:47.2760,206.0,Cooke Hall,44.976303,-93.230029,190.0,Weisman Art Museum,44.973428,-93.237319,699,Subscriber,1999,1,Classic
2,1675,2019-06-01 00:03:12.7610,2019-06-01 00:31:07.9640,NaN,NaN,44.990000,-93.290000,NaN,NaN,44.990000,-93.290000,2379,Customer,1997,2,Dockless
3,1579,2019-06-01 00:07:11.4510,2019-06-01 00:33:30.9500,167.0,11th Ave S & S 2nd Street,44.976220,-93.251977,101.0,West 36th Street & Bryant Ave S,44.937750,-93.291200,977,Subscriber,1979,1,Classic
4,43289,2019-06-01 00:07:22.3100,2019-06-01 12:08:51.5600,211.0,15th Ave SE & SE 4th Street,44.979951,-93.234787,148.0,Chicago Ave & S Washington Ave,44.977424,-93.256765,1720,Customer,1969,0,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65033,297917,2019-06-30 23:09:04.2870,2019-07-04 09:54:21.3460,147.0,9th Street N & Hawthorne Ave,44.977314,-93.277761,48.0,26th Street & Hennepin,44.955473,-93.297143,1285,Customer,1969,0,Classic
65034,166,2019-06-30 23:09:29.6120,2019-06-30 23:12:16.3060,NaN,NaN,44.980000,-93.240000,NaN,NaN,44.980000,-93.240000,3150,Subscriber,1998,1,Dockless
65035,308,2019-06-30 23:21:57.7010,2019-06-30 23:27:05.7480,191.0,Park Ave & 4th Street S,44.975907,-93.260061,91.0,Grant Street & Portland Ave,44.969540,-93.266900,859,Subscriber,1989,1,Classic
65036,598,2019-06-30 23:22:42.8500,2019-06-30 23:32:41.0730,191.0,Park Ave & 4th Street S,44.975907,-93.260061,9.0,9th Street & 4th Ave,44.972666,-93.268749,1862,Customer,1969,0,Classic
65037,257,2019-06-30 23:34:56.1150,2019-06-30 23:39:13.1410,635.0,Hennepin Ave & S 3rd Street,44.980957,-93.270460,12.0,Hennepin & Laurel Ave,44.973951,-93.283092,448,Subscriber,1996,1,Classic

In [24]:
stations_2020 = nice_ride_aug_2020[["start_station_name", "start_station_id"]]
stations_2020 = stations_2020.dropna()
stations_2020 = stations_2020.drop_duplicates()
stations_2020 = stations_2020.sort_values(by = "start_station_id", ascending = True)
stations_2020

                   start_station_name  start_station_id
1426         25th Street & 33rd Ave S               3.0
853        Riverside Ave & 23rd Ave S               4.0
610    Plymouth Ave N &  N Oliver Ave               5.0
12       Hennepin & Central Avenue NE               7.0
18                      YWCA Downtown               8.0
...                               ...               ...
12584                   Harrison Park             857.0
2511                 Cedar Field Park             858.0
2063           Bryn Mawr Meadows Park             859.0
2999              Bassetts Creek Park             860.0
389       Lagoon Ave & S Hennepin Ave             919.0

[163 rows x 2 columns]

In [25]:
stations_2019 = nice_ride_jun_2019[["start station name", "start station id"]]
stations_2019 = stations_2019.dropna()
stations_2019 = stations_2019.drop_duplicates()
stations_2019 = stations_2019.sort_values(by = "start station id", ascending = True)
stations_2019

                  start station name  start station id
6                 100 Main Street SE               2.0
259         25th Street & 33rd Ave S               3.0
143       Riverside Ave & 23rd Ave S               4.0
1003  Plymouth Ave N &  N Oliver Ave               5.0
63            11th Street & Hennepin               6.0
...                              ...               ...
154         5th Ave S & S 8th Street             223.0
88        SE 4th Street & SE 3rd Ave             225.0
324         S 7th Street & 2nd Ave S             634.0
37       Hennepin Ave & S 3rd Street             635.0
580            Pryes Brewing Company             648.0

[147 rows x 2 columns]