In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import CSV Files
apr_19_path = "201904-niceride-tripdata.csv"
may_19_path = "201905-niceride-tripdata.csv"
jun_19_path = "201906-niceride-tripdata.csv"
jul_19_path = "201907-niceride-tripdata.csv"
aug_19_path = "201908-niceride-tripdata.csv"
sep_19_path = "201909-niceride-tripdata.csv"
oct_19_path = "201910-niceride-tripdata.csv"
nov_19_path = "201911-niceride-tripdata.csv"

In [3]:
#Read data to df
apr_2019 = pd.read_csv(apr_19_path, dtype=str)
len(apr_2019)

8483

In [4]:
may_2019 = pd.read_csv(may_19_path, dtype=str)
len(may_2019)

45684

In [5]:
jun_2019 = pd.read_csv(jun_19_path, dtype = str)
len(jun_2019)

65038

In [6]:
jul_2019 = pd.read_csv(jul_19_path, dtype = str)
len(jul_2019)

75289

In [7]:
aug_2019 = pd.read_csv(aug_19_path, dtype=str)
len(aug_2019)

72641

In [8]:
sep_2019 = pd.read_csv(sep_19_path, dtype=str)
len(sep_2019)

52800

In [9]:
oct_2019 = pd.read_csv(oct_19_path, dtype=str)
len(oct_2019)

29581

In [10]:
nov_2019 = pd.read_csv(nov_19_path, dtype=str)
len(nov_2019)

9191

In [11]:
# Append frames
nr_2019 = apr_2019.append(may_2019, ignore_index=True)
nr_2019 = nr_2019.append(jun_2019, ignore_index=True)
nr_2019 = nr_2019.append(jul_2019, ignore_index=True)
nr_2019 = nr_2019.append(aug_2019, ignore_index=True)
nr_2019 = nr_2019.append(sep_2019, ignore_index=True)
nr_2019 = nr_2019.append(oct_2019, ignore_index=True)
nr_2019 = nr_2019.append(nov_2019, ignore_index=True)
len(nr_2019)

358707

In [12]:
nr_2019.head()

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,3568,2019-04-22 09:03:33.7210,2019-04-22 10:03:02.6670,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428353028844,-93.23731899261473,988,Subscriber,1998,2,Classic
1,223,2019-04-22 09:35:15.0170,2019-04-22 09:38:58.4050,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428353028844,-93.23731899261473,1215,Subscriber,1997,1,Classic
2,563,2019-04-22 09:37:10.0810,2019-04-22 09:46:33.8910,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,62,Elliot Hall,44.97685,-93.23818,973,Customer,1989,1,Classic
3,10159,2019-04-22 09:50:10.6870,2019-04-22 12:39:29.8790,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,432,Subscriber,1998,2,Classic
4,407,2019-04-22 09:53:28.1690,2019-04-22 10:00:16.0340,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,95,Gateway Park,44.9825943,-93.2675139,1048,Customer,1983,2,Classic

In [13]:
# Fix dtypes - datetime
nr_2019["start_time"] = pd.to_datetime(nr_2019["start_time"])
nr_2019["end_time"] = pd.to_datetime(nr_2019["end_time"])

In [14]:
# Fix dtypes - coordinates
nr_2019["start station latitude"] = nr_2019["start station latitude"].astype(float)
nr_2019["start station longitude"] = nr_2019["start station longitude"].astype(float)
nr_2019["end station latitude"] = nr_2019["end station latitude"].astype(float)
nr_2019["end station longitude"] = nr_2019["end station longitude"].astype(float)

In [15]:
# Fix dtypes - numbers
nr_2019["tripduration"] = nr_2019["tripduration"].astype(int)

In [16]:
# Fix dtypes - strings
nr_2019["start station id"] = nr_2019["start station id"].convert_dtypes()
nr_2019["start station name"] = nr_2019["start station name"].convert_dtypes()
nr_2019["end station id"] = nr_2019["end station id"].convert_dtypes()
nr_2019["end station name"] = nr_2019["end station name"].convert_dtypes()
nr_2019["usertype"] = nr_2019["usertype"].convert_dtypes()
nr_2019["bike type"] = nr_2019["bike type"].convert_dtypes()

In [17]:
nr_2019.rename(columns={"start_time" : "start_datetime", 
                        "start station name" : "start_station_name", 
                        "start station id" : "start_station_id",
                        "end_time" : "end_datetime",
                        "end station name" : "end_station_name",
                        "end station id" : "end_station_id",
                        "tripduration" : "total_duration_sec",
                        "usertype" : "account_type",
                        "start station latitude" : "start_station_lat",
                        "start station longitude" : "start_station_lng",
                        "end station latitude" : "end_station_lat",
                        "end station longitude" : "end_station_lng",
                        "bike type" : "bike_type"}, 
              inplace=True)

In [18]:
# Drop unneeded columns
nr_2019 = nr_2019.drop(columns=["bikeid", "birth year", "gender"])
nr_2019.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,3568,2019-04-22 09:03:33.721,2019-04-22 10:03:02.667,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Subscriber,Classic
1,223,2019-04-22 09:35:15.017,2019-04-22 09:38:58.405,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Subscriber,Classic
2,563,2019-04-22 09:37:10.081,2019-04-22 09:46:33.891,94,Portland Ave & Washington Ave,44.978210,-93.260230,62,Elliot Hall,44.976850,-93.238180,Customer,Classic
3,10159,2019-04-22 09:50:10.687,2019-04-22 12:39:29.879,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,Subscriber,Classic
4,407,2019-04-22 09:53:28.169,2019-04-22 10:00:16.034,94,Portland Ave & Washington Ave,44.978210,-93.260230,95,Gateway Park,44.982594,-93.267514,Customer,Classic

In [19]:
nr_2019["account_type"]=nr_2019["account_type"].str.replace("Customer", "Casual")
nr_2019["account_type"]=nr_2019['account_type'].str.replace("Subscriber", "Member")

In [20]:
nr_2019.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,3568,2019-04-22 09:03:33.721,2019-04-22 10:03:02.667,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
1,223,2019-04-22 09:35:15.017,2019-04-22 09:38:58.405,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
2,563,2019-04-22 09:37:10.081,2019-04-22 09:46:33.891,94,Portland Ave & Washington Ave,44.978210,-93.260230,62,Elliot Hall,44.976850,-93.238180,Casual,Classic
3,10159,2019-04-22 09:50:10.687,2019-04-22 12:39:29.879,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,Member,Classic
4,407,2019-04-22 09:53:28.169,2019-04-22 10:00:16.034,94,Portland Ave & Washington Ave,44.978210,-93.260230,95,Gateway Park,44.982594,-93.267514,Casual,Classic

In [21]:
# Re-sort by datetime
nr_2019= nr_2019.sort_values(["start_datetime"], ignore_index=True)
nr_2019

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,3568,2019-04-22 09:03:33.721,2019-04-22 10:03:02.667,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
1,223,2019-04-22 09:35:15.017,2019-04-22 09:38:58.405,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
2,563,2019-04-22 09:37:10.081,2019-04-22 09:46:33.891,94,Portland Ave & Washington Ave,44.978210,-93.260230,62,Elliot Hall,44.976850,-93.238180,Casual,Classic
3,10159,2019-04-22 09:50:10.687,2019-04-22 12:39:29.879,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,Member,Classic
4,407,2019-04-22 09:53:28.169,2019-04-22 10:00:16.034,94,Portland Ave & Washington Ave,44.978210,-93.260230,95,Gateway Park,44.982594,-93.267514,Casual,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358702,708,2019-11-30 21:03:17.466,2019-11-30 21:15:06.273,<NA>,<NA>,44.980000,-93.260000,<NA>,<NA>,44.980000,-93.260000,Member,Dockless
358703,662,2019-11-30 22:00:37.126,2019-11-30 22:11:39.207,<NA>,<NA>,44.950000,-93.320000,<NA>,<NA>,44.950000,-93.300000,Member,Dockless
358704,658,2019-11-30 22:08:13.295,2019-11-30 22:19:12.128,<NA>,<NA>,44.980000,-93.260000,<NA>,<NA>,44.970000,-93.260000,Member,Dockless
358705,549,2019-11-30 23:15:00.528,2019-11-30 23:24:10.294,<NA>,<NA>,44.980000,-93.230000,<NA>,<NA>,44.980000,-93.230000,Member,Dockless
358706,276,2019-11-30 23:39:39.693,2019-11-30 23:44:16.229,<NA>,<NA>,44.980000,-93.230000,<NA>,<NA>,44.980000,-93.230000,Member,Dockless

In [22]:
# Export combined .csv
nr_2019.to_csv(path_or_buf="../Resources/Nice_ride_trip_history_2019_season.csv", index=False)

In [22]:
nr_2019.isnull().sum()

total_duration_sec        0
start_datetime            0
end_datetime              0
start_station_id      95538
start_station_name    95538
start_station_lat         0
start_station_lng         0
end_station_id        95538
end_station_name      95538
end_station_lat           0
end_station_lng           0
account_type              0
bike_type                 0
dtype: int64

In [23]:
# Create dataframe with all dockless bike info
dockless2019_df = nr_2019.loc[nr_2019["bike_type"] == "Dockless"]
dockless2019_df

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
352,1573,2019-04-23 11:30:08.969,2019-04-23 11:56:22.875,<NA>,<NA>,45.01,-93.29,<NA>,<NA>,44.98,-93.27,Casual,Dockless
359,195,2019-04-23 11:40:10.886,2019-04-23 11:43:26.277,<NA>,<NA>,44.98,-93.27,<NA>,<NA>,44.98,-93.26,Casual,Dockless
375,2886,2019-04-23 11:57:34.980,2019-04-23 12:45:41.487,<NA>,<NA>,44.98,-93.27,<NA>,<NA>,44.96,-93.24,Casual,Dockless
390,221,2019-04-23 12:15:23.720,2019-04-23 12:19:05.185,<NA>,<NA>,44.98,-93.26,<NA>,<NA>,44.98,-93.27,Casual,Dockless
408,3326,2019-04-23 12:29:08.389,2019-04-23 13:24:34.680,<NA>,<NA>,44.98,-93.27,<NA>,<NA>,44.98,-93.27,Member,Dockless
...,...,...,...,...,...,...,...,...,...,...,...,...,...
358702,708,2019-11-30 21:03:17.466,2019-11-30 21:15:06.273,<NA>,<NA>,44.98,-93.26,<NA>,<NA>,44.98,-93.26,Member,Dockless
358703,662,2019-11-30 22:00:37.126,2019-11-30 22:11:39.207,<NA>,<NA>,44.95,-93.32,<NA>,<NA>,44.95,-93.30,Member,Dockless
358704,658,2019-11-30 22:08:13.295,2019-11-30 22:19:12.128,<NA>,<NA>,44.98,-93.26,<NA>,<NA>,44.97,-93.26,Member,Dockless
358705,549,2019-11-30 23:15:00.528,2019-11-30 23:24:10.294,<NA>,<NA>,44.98,-93.23,<NA>,<NA>,44.98,-93.23,Member,Dockless
358706,276,2019-11-30 23:39:39.693,2019-11-30 23:44:16.229,<NA>,<NA>,44.98,-93.23,<NA>,<NA>,44.98,-93.23,Member,Dockless

In [24]:
# Create dataframe with all stationed bike info
docked2019_df = nr_2019.loc[nr_2019["bike_type"] != "Dockless"]
len(docked2019_df)

263169

In [25]:
docked2019_df.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,3568,2019-04-22 09:03:33.721,2019-04-22 10:03:02.667,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
1,223,2019-04-22 09:35:15.017,2019-04-22 09:38:58.405,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428,-93.237319,Member,Classic
2,563,2019-04-22 09:37:10.081,2019-04-22 09:46:33.891,94,Portland Ave & Washington Ave,44.978210,-93.260230,62,Elliot Hall,44.976850,-93.238180,Casual,Classic
3,10159,2019-04-22 09:50:10.687,2019-04-22 12:39:29.879,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,Member,Classic
4,407,2019-04-22 09:53:28.169,2019-04-22 10:00:16.034,94,Portland Ave & Washington Ave,44.978210,-93.260230,95,Gateway Park,44.982594,-93.267514,Casual,Classic