In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import CSV Files
apr_19_path = "201904-niceride-tripdata.csv"
may_19_path = "201905-niceride-tripdata.csv"
jun_19_path = "201906-niceride-tripdata.csv"
jul_19_path = "201907-niceride-tripdata.csv"
aug_19_path = "201908-niceride-tripdata.csv"
sep_19_path = "201909-niceride-tripdata.csv"
oct_19_path = "201910-niceride-tripdata.csv"
nov_19_path = "201911-niceride-tripdata.csv"

In [3]:
#Read data to df
apr_2019 = pd.read_csv(apr_19_path, dtype=str)
len(apr_2019)

8483

In [4]:
may_2019 = pd.read_csv(may_19_path, dtype=str)
len(may_2019)

45684

In [5]:
jun_2019 = pd.read_csv(jun_19_path, dtype = str)
len(jun_2019)

65038

In [6]:
jul_2019 = pd.read_csv(jul_19_path, dtype = str)
len(jul_2019)

75289

In [7]:
aug_2019 = pd.read_csv(aug_19_path, dtype=str)
len(aug_2019)

72641

In [8]:
sep_2019 = pd.read_csv(sep_19_path, dtype=str)
len(sep_2019)

52800

In [9]:
oct_2019 = pd.read_csv(oct_19_path, dtype=str)
len(oct_2019)

29581

In [10]:
nov_2019 = pd.read_csv(nov_19_path, dtype=str)
len(nov_2019)

9191

In [11]:
# Append frames
nr_2019 = apr_2019.append(may_2019, ignore_index=True)
nr_2019 = nr_2019.append(jun_2019, ignore_index=True)
nr_2019 = nr_2019.append(jul_2019, ignore_index=True)
nr_2019 = nr_2019.append(aug_2019, ignore_index=True)
nr_2019 = nr_2019.append(sep_2019, ignore_index=True)
nr_2019 = nr_2019.append(oct_2019, ignore_index=True)
nr_2019 = nr_2019.append(nov_2019, ignore_index=True)
len(nr_2019)

358707

In [12]:
nr_2019.head()

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,3568,2019-04-22 09:03:33.7210,2019-04-22 10:03:02.6670,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428353028844,-93.23731899261473,988,Subscriber,1998,2,Classic
1,223,2019-04-22 09:35:15.0170,2019-04-22 09:38:58.4050,188,Sanford Hall,44.980831,-93.240282,190,Weisman Art Museum,44.973428353028844,-93.23731899261473,1215,Subscriber,1997,1,Classic
2,563,2019-04-22 09:37:10.0810,2019-04-22 09:46:33.8910,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,62,Elliot Hall,44.97685,-93.23818,973,Customer,1989,1,Classic
3,10159,2019-04-22 09:50:10.6870,2019-04-22 12:39:29.8790,188,Sanford Hall,44.980831,-93.240282,188,Sanford Hall,44.980831,-93.240282,432,Subscriber,1998,2,Classic
4,407,2019-04-22 09:53:28.1690,2019-04-22 10:00:16.0340,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,95,Gateway Park,44.9825943,-93.2675139,1048,Customer,1983,2,Classic

In [13]:
# Fix dtypes - datetime
nr_2019["start_time"] = pd.to_datetime(nr_2019["start_time"])
nr_2019["end_time"] = pd.to_datetime(nr_2019["end_time"])

In [14]:
# Fix dtypes - coordinates
nr_2019["start station latitude"] = nr_2019["start station latitude"].astype(float)
nr_2019["start station longitude"] = nr_2019["start station longitude"].astype(float)
nr_2019["end station latitude"] = nr_2019["end station latitude"].astype(float)
nr_2019["end station longitude"] = nr_2019["end station longitude"].astype(float)

In [15]:
# Fix dtypes - numbers
nr_2019["tripduration"] = nr_2019["tripduration"].astype(int)

In [16]:
# Export combined .csv
nr_2019.to_csv(path_or_buf="../Input_data/Nice_ride_trip_history_2019_season.csv", index=False)

In [18]:
station_list = nr_2019["start station id"].unique()
station_list

array(['188', '94', '35', '210', '190', '191', '92', '192', '184', '27',
       '26', '2', '120', '21', '68', '207', '209', '38', '177', '117',
       '206', '54', '214', '211', '44', '31', '62', '113', '51', '56',
       '9', '8', '198', '52', '193', '222', '195', '43', '91', '6', '30',
       '36', '29', '95', '53', '61', '148', '45', '34', '10', '19', '196',
       '23', '180', '13', '167', '15', '17', '102', '86', '12', '225',
       '147', '208', '79', '67', '48', '18', '41', '170', '3', '65', '16',
       '4', '37', '149', '189', '204', '159', '85', '183', '108', '20',
       '150', nan, '59', '153', '50', '28', '98', '49', '212', '112',
       '160', '202', '39', '63', '201', '157', '200', '154', '162', '22',
       '174', '93', '7', '205', '156', '96', '216', '101', '164', '25',
       '69', '197', '24', '55', '158', '199', '111', '163', '42', '14',
       '161', '66', '99', '97', '100', '64', '60', '47', '71', '119',
       '72', '169', '70', '73', '77', '165', '219', '118', '152', '74',
       '5', '75', '194', '213', '223', '634', '635', '151', '648', '803',
       '805', '804', '808', '809', '810', '806', '807', '822', '823',
       '840', '841', '842', '847', '821', '860', '851', '859', '861',
       '824', '862', '848', '226', '921', '922', '173', '930'],
      dtype=object)

In [19]:
len(station_list)

179

In [20]:
dockless_df = nr_2019.loc[nr_2019["bike type"] != "Classic"]
dockless_df

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
352,1573,2019-04-23 11:30:08.969,2019-04-23 11:56:22.875,NaN,NaN,45.01,-93.29,NaN,NaN,44.98,-93.27,3247,Customer,1984,2,Dockless
359,195,2019-04-23 11:40:10.886,2019-04-23 11:43:26.277,NaN,NaN,44.98,-93.27,NaN,NaN,44.98,-93.26,2481,Customer,1964,1,Dockless
375,2886,2019-04-23 11:57:34.980,2019-04-23 12:45:41.487,NaN,NaN,44.98,-93.27,NaN,NaN,44.96,-93.24,3247,Customer,1984,2,Dockless
390,221,2019-04-23 12:15:23.720,2019-04-23 12:19:05.185,NaN,NaN,44.98,-93.26,NaN,NaN,44.98,-93.27,2481,Customer,1964,1,Dockless
408,3326,2019-04-23 12:29:08.389,2019-04-23 13:24:34.680,NaN,NaN,44.98,-93.27,NaN,NaN,44.98,-93.27,2442,Subscriber,1976,1,Dockless
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358702,708,2019-11-30 21:03:17.466,2019-11-30 21:15:06.273,NaN,NaN,44.98,-93.26,NaN,NaN,44.98,-93.26,2428,Subscriber,1983,1,Dockless
358703,662,2019-11-30 22:00:37.126,2019-11-30 22:11:39.207,NaN,NaN,44.95,-93.32,NaN,NaN,44.95,-93.30,2734,Subscriber,1983,1,Dockless
358704,658,2019-11-30 22:08:13.295,2019-11-30 22:19:12.128,NaN,NaN,44.98,-93.26,NaN,NaN,44.97,-93.26,2626,Subscriber,1980,1,Dockless
358705,549,2019-11-30 23:15:00.528,2019-11-30 23:24:10.294,NaN,NaN,44.98,-93.23,NaN,NaN,44.98,-93.23,2224,Subscriber,1983,1,Dockless
358706,276,2019-11-30 23:39:39.693,2019-11-30 23:44:16.229,NaN,NaN,44.98,-93.23,NaN,NaN,44.98,-93.23,2982,Subscriber,1986,1,Dockless