In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import CSV Files
apr_18_path = "201804-niceride-tripdata.csv"
may_18_path = "201805-niceride-tripdata.csv"
jun_18_path = "201806-niceride-tripdata.csv"
jul_18_path = "201807-niceride-tripdata.csv"
aug_18_path = "201808-niceride-tripdata.csv"
sep_18_path = "201809-niceride-tripdata.csv"
oct_18_path = "201810-niceride-tripdata.csv"
nov_18_path = "201811-niceride-tripdata.csv"

In [3]:
#Read data to df
apr_2018 = pd.read_csv(apr_18_path, dtype=str)
len(apr_2018)

18303

In [4]:
may_2018 = pd.read_csv(may_18_path, dtype=str)
len(may_2018)

66882

In [5]:
jun_2018 = pd.read_csv(jun_18_path, dtype = str)
len(jun_2018)

74349

In [6]:
jul_2018 = pd.read_csv(jul_18_path, dtype = str)
len(jul_2018)

86008

In [7]:
aug_2018 = pd.read_csv(aug_18_path, dtype=str)
len(aug_2018)

71734

In [8]:
sep_2018 = pd.read_csv(sep_18_path, dtype=str)
len(sep_2018)

56692

In [9]:
oct_2018 = pd.read_csv(oct_18_path, dtype=str)
len(oct_2018)

33384

In [10]:
nov_2018 = pd.read_csv(nov_18_path, dtype=str)
len(nov_2018)

5071

In [11]:
# Append frames
nr_2018 = apr_2018.append(may_2018, ignore_index=True)
nr_2018 = nr_2018.append(jun_2018, ignore_index=True)
nr_2018 = nr_2018.append(jul_2018, ignore_index=True)
nr_2018 = nr_2018.append(aug_2018, ignore_index=True)
nr_2018 = nr_2018.append(sep_2018, ignore_index=True)
nr_2018 = nr_2018.append(oct_2018, ignore_index=True)
nr_2018 = nr_2018.append(nov_2018, ignore_index=True)
len(nr_2018)

412423

In [12]:
nr_2018.head()

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,1373,2018-04-24 16:03:04.2700,2018-04-24 16:25:57.6010,170,Boom Island Park,44.99254,-93.270256,2,100 Main Street SE,44.984892,-93.256551,2,Customer,1969,0,Classic
1,1730,2018-04-24 16:38:40.5210,2018-04-24 17:07:31.1070,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Customer,1969,0,Classic
2,547,2018-04-24 17:51:10.1450,2018-04-24 18:00:17.4510,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,2,Subscriber,1985,2,Classic
3,856,2018-04-24 18:50:05.7390,2018-04-24 19:04:22.0360,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Subscriber,1985,2,Classic
4,455,2018-04-25 08:49:05.2720,2018-04-25 08:56:40.3060,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,2,Subscriber,1988,1,Classic

In [13]:
# Fix dtypes - datetime
nr_2018["start_time"] = pd.to_datetime(nr_2018["start_time"])
nr_2018["end_time"] = pd.to_datetime(nr_2018["end_time"])

In [14]:
# Fix dtypes - coordinates
nr_2018["start station latitude"] = nr_2018["start station latitude"].astype(float)
nr_2018["start station longitude"] = nr_2018["start station longitude"].astype(float)
nr_2018["end station latitude"] = nr_2018["end station latitude"].astype(float)
nr_2018["end station longitude"] = nr_2018["end station longitude"].astype(float)

In [15]:
# Fix dtypes - numbers
nr_2018["tripduration"] = nr_2018["tripduration"].astype(int)

In [16]:
# Fix dtypes - strings
nr_2018["start station id"] = nr_2018["start station id"].convert_dtypes()
nr_2018["start station name"] = nr_2018["start station name"].convert_dtypes()
nr_2018["end station id"] = nr_2018["end station id"].convert_dtypes()
nr_2018["end station name"] = nr_2018["end station name"].convert_dtypes()
nr_2018["usertype"] = nr_2018["usertype"].convert_dtypes()
nr_2018["bike type"] = nr_2018["bike type"].convert_dtypes()

In [17]:
nr_2018.dtypes

tripduration                        int32
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start station id                   string
start station name                 string
start station latitude            float64
start station longitude           float64
end station id                     string
end station name                   string
end station latitude              float64
end station longitude             float64
bikeid                             object
usertype                           string
birth year                         object
gender                             object
bike type                          string
dtype: object

In [18]:
# Rename columns for universal format
nr_2018.rename(columns={"start_time" : "start_datetime", 
                        "start station name" : "start_station_name", 
                        "start station id" : "start_station_id",
                        "end_time" : "end_datetime",
                        "end station name" : "end_station_name",
                        "end station id" : "end_station_id",
                        "tripduration" : "total_duration_sec",
                        "usertype" : "account_type",
                        "start station latitude" : "start_station_lat",
                        "start station longitude" : "start_station_lng",
                        "end station latitude" : "end_station_lat",
                        "end station longitude" : "end_station_lng",
                        "bike type" : "bike_type"}, 
              inplace=True)

In [19]:
# Drop unnecessary info
nr_2018 = nr_2018.drop(columns=["bikeid", "birth year", "gender"])
nr_2018.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,1373,2018-04-24 16:03:04.270,2018-04-24 16:25:57.601,170,Boom Island Park,44.992540,-93.270256,2,100 Main Street SE,44.984892,-93.256551,Customer,Classic
1,1730,2018-04-24 16:38:40.521,2018-04-24 17:07:31.107,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Customer,Classic
2,547,2018-04-24 17:51:10.145,2018-04-24 18:00:17.451,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978210,-93.260230,Subscriber,Classic
3,856,2018-04-24 18:50:05.739,2018-04-24 19:04:22.036,94,Portland Ave & Washington Ave,44.978210,-93.260230,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Subscriber,Classic
4,455,2018-04-25 08:49:05.272,2018-04-25 08:56:40.306,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,Subscriber,Classic

In [20]:
# Export Combined .csv
nr_2018.to_csv(path_or_buf="../Resources/Nice_ride_trip_history_2018_season.csv", index=False)

In [21]:
# Create dataframe with all dockless bike info
dockless2018_df = nr_2018.loc[pd.isna(nr_2018["start_station_id"])]
dockless2018_df

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
317265,138,2018-08-14 13:59:29.809,2018-08-14 14:01:47.907,<NA>,<NA>,44.95,-93.22,<NA>,<NA>,44.95,-93.22,Subscriber,Dockless
317266,603,2018-08-16 16:58:18.469,2018-08-16 17:08:22.371,<NA>,<NA>,44.95,-93.22,<NA>,<NA>,44.95,-93.22,Subscriber,Dockless
317267,320,2018-08-16 10:56:44.424,2018-08-16 11:02:04.508,<NA>,<NA>,44.95,-93.22,<NA>,<NA>,44.95,-93.22,Subscriber,Dockless
317268,514,2018-08-16 11:07:19.527,2018-08-16 11:15:54.508,<NA>,<NA>,44.95,-93.22,<NA>,<NA>,44.95,-93.22,Subscriber,Dockless
317269,530,2018-08-16 11:24:27.207,2018-08-16 11:33:18.088,<NA>,<NA>,44.95,-93.22,<NA>,<NA>,44.95,-93.22,Subscriber,Dockless
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412418,249,2018-11-13 00:07:32.499,2018-11-13 00:11:41.571,<NA>,<NA>,44.98,-93.23,<NA>,<NA>,44.98,-93.23,Customer,Dockless
412419,735,2018-11-01 12:38:59.308,2018-11-01 12:51:15.113,<NA>,<NA>,44.97,-93.28,<NA>,<NA>,44.98,-93.26,Customer,Dockless
412420,319,2018-11-02 08:15:17.232,2018-11-02 08:20:36.323,<NA>,<NA>,44.98,-93.26,<NA>,<NA>,44.99,-93.26,Customer,Dockless
412421,915,2018-11-02 16:53:34.665,2018-11-02 17:08:50.213,<NA>,<NA>,44.99,-93.26,<NA>,<NA>,44.97,-93.27,Customer,Dockless
412422,1711,2018-11-03 13:11:26.249,2018-11-03 13:39:57.311,<NA>,<NA>,44.97,-93.28,<NA>,<NA>,44.98,-93.24,Customer,Dockless

In [22]:
# Create dataframe with all stationed bike info
docked2018_df = nr_2018.dropna(axis=0)
docked2018_df

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,1373,2018-04-24 16:03:04.270,2018-04-24 16:25:57.601,170,Boom Island Park,44.992540,-93.270256,2,100 Main Street SE,44.984892,-93.256551,Customer,Classic
1,1730,2018-04-24 16:38:40.521,2018-04-24 17:07:31.107,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Customer,Classic
2,547,2018-04-24 17:51:10.145,2018-04-24 18:00:17.451,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978210,-93.260230,Subscriber,Classic
3,856,2018-04-24 18:50:05.739,2018-04-24 19:04:22.036,94,Portland Ave & Washington Ave,44.978210,-93.260230,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Subscriber,Classic
4,455,2018-04-25 08:49:05.272,2018-04-25 08:56:40.306,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,Subscriber,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
409613,516,2018-11-01 18:54:18.329,2018-11-01 19:02:55.277,46,IDS Center,44.975675,-93.272200,193,5th Ave N & 4th Street N,44.984390,-93.277360,Customer,Classic
409614,141,2018-11-02 13:44:25.994,2018-11-02 13:46:47.230,193,5th Ave N & 4th Street N,44.984390,-93.277360,192,3rd Street N & 8th Ave N,44.987996,-93.279854,Customer,Classic
409615,664,2018-11-02 18:10:49.561,2018-11-02 18:21:54.211,147,9th Street N & Hawthorne Ave,44.977314,-93.277761,223,5th Ave S & S 8th Street,44.972415,-93.266652,Customer,Classic
409616,647,2018-11-01 21:47:32.168,2018-11-01 21:58:20.079,77,West 34th Street & Hennepin Ave S,44.941388,-93.298634,93,Lake Calhoun Center,44.948467,-93.317294,Customer,Classic
409617,1695,2018-11-02 12:55:38.244,2018-11-02 13:23:53.489,93,Lake Calhoun Center,44.948467,-93.317294,93,Lake Calhoun Center,44.948467,-93.317294,Customer,Classic

In [23]:
# Build a station location dataframe
# Collect unique info

station_id = docked2018_df.start_station_id.unique()
station_name = docked2018_df.start_station_name.unique()
station_lat = docked2018_df.start_station_lat.unique()
station_lng = docked2018_df.start_station_lng.unique()

station_id = list(station_id)
station_name = list(station_name)
station_lat = list(station_lat)
station_lng = list(station_lng)

print(len(station_id))
print(len(station_name))
print(len(station_lat))
print(len(station_lng))

204
204
204
204

In [24]:
# Create df
station_18 = pd.DataFrame({"station_id" : station_id,
                           "station_name" : station_name,
                           "station_lat" : station_lat,
                           "station_lng" : station_lng})
station_18

    station_id                   station_name  station_lat  station_lng
0          170               Boom Island Park    44.992540   -93.270256
1            2             100 Main Street SE    44.984892   -93.256551
2           13   North 2nd Street & 4th Ave N    44.986087   -93.272459
3           94  Portland Ave & Washington Ave    44.978210   -93.260230
4           43    Nicollet Mall & 10th Street    44.973839   -93.274544
..         ...                            ...          ...          ...
199        143   University Ave & Western Ave    44.955620   -93.116650
200        224    S 6th Street & Hennepin Ave    44.978459   -93.273011
201        225     SE 4th Street & SE 3rd Ave    44.986531   -93.250649
202        181                      8D OPS 01    44.957199   -93.223447
203        226                NRM Bike Shop 1    44.983236   -93.223650

[204 rows x 4 columns]

In [25]:
# Format station locations into sortable form
station_18['station_id'] = station_18['station_id'].apply('{0:0>5}'.format)

In [26]:
# Sort by station id
station_18.sort_values(by="station_id", ignore_index=True, inplace=True)

In [27]:
station_18

    station_id                    station_name  station_lat  station_lng
0        00002              100 Main Street SE    44.984892   -93.256551
1        00003        25th Street & 33rd Ave S    44.957341   -93.223374
2        00004      Riverside Ave & 23rd Ave S    44.967115   -93.240149
3        00005  Plymouth Ave N &  N Oliver Ave    44.991412   -93.306269
4        00006          11th Street & Hennepin    44.975288   -93.278817
..         ...                             ...          ...          ...
199      00222     30th Ave SE & SE 4th Street    44.971419   -93.213423
200      00223        5th Ave S & S 8th Street    44.972415   -93.266652
201      00224     S 6th Street & Hennepin Ave    44.978459   -93.273011
202      00225      SE 4th Street & SE 3rd Ave    44.986531   -93.250649
203      00226                 NRM Bike Shop 1    44.983236   -93.223650

[204 rows x 4 columns]

In [28]:
# Export station list to .csv
station_18.to_csv(path_or_buf="../Resources/Nice_ride_2018_station_locations.csv", index=False)