In [1]:
#Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import CSV Files
apr_18_path = "201804-niceride-tripdata.csv"
may_18_path = "201805-niceride-tripdata.csv"
jun_18_path = "201806-niceride-tripdata.csv"
jul_18_path = "201807-niceride-tripdata.csv"
aug_18_path = "201808-niceride-tripdata.csv"
sep_18_path = "201809-niceride-tripdata.csv"
oct_18_path = "201810-niceride-tripdata.csv"
nov_18_path = "201811-niceride-tripdata.csv"

In [3]:
#Read data to df
apr_2018 = pd.read_csv(apr_18_path, dtype=str)
len(apr_2018)

18303

In [4]:
may_2018 = pd.read_csv(may_18_path, dtype=str)
len(may_2018)

66882

In [5]:
jun_2018 = pd.read_csv(jun_18_path, dtype = str)
len(jun_2018)

74349

In [6]:
jul_2018 = pd.read_csv(jul_18_path, dtype = str)
len(jul_2018)

86008

In [7]:
aug_2018 = pd.read_csv(aug_18_path, dtype=str)
len(aug_2018)

71734

In [8]:
sep_2018 = pd.read_csv(sep_18_path, dtype=str)
len(sep_2018)

56692

In [9]:
oct_2018 = pd.read_csv(oct_18_path, dtype=str)
len(oct_2018)

33384

In [10]:
nov_2018 = pd.read_csv(nov_18_path, dtype=str)
len(nov_2018)

5071

In [11]:
# Append frames
nr_2018 = apr_2018.append(may_2018, ignore_index=True)
nr_2018 = nr_2018.append(jun_2018, ignore_index=True)
nr_2018 = nr_2018.append(jul_2018, ignore_index=True)
nr_2018 = nr_2018.append(aug_2018, ignore_index=True)
nr_2018 = nr_2018.append(sep_2018, ignore_index=True)
nr_2018 = nr_2018.append(oct_2018, ignore_index=True)
nr_2018 = nr_2018.append(nov_2018, ignore_index=True)
len(nr_2018)

412423

In [12]:
nr_2018.head()

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,1373,2018-04-24 16:03:04.2700,2018-04-24 16:25:57.6010,170,Boom Island Park,44.99254,-93.270256,2,100 Main Street SE,44.984892,-93.256551,2,Customer,1969,0,Classic
1,1730,2018-04-24 16:38:40.5210,2018-04-24 17:07:31.1070,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Customer,1969,0,Classic
2,547,2018-04-24 17:51:10.1450,2018-04-24 18:00:17.4510,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,2,Subscriber,1985,2,Classic
3,856,2018-04-24 18:50:05.7390,2018-04-24 19:04:22.0360,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Subscriber,1985,2,Classic
4,455,2018-04-25 08:49:05.2720,2018-04-25 08:56:40.3060,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,2,Subscriber,1988,1,Classic

In [13]:
# Fix dtypes - datetime
nr_2018["start_time"] = pd.to_datetime(nr_2018["start_time"])
nr_2018["end_time"] = pd.to_datetime(nr_2018["end_time"])

In [14]:
# Fix dtypes - coordinates
nr_2018["start station latitude"] = nr_2018["start station latitude"].astype(float)
nr_2018["start station longitude"] = nr_2018["start station longitude"].astype(float)
nr_2018["end station latitude"] = nr_2018["end station latitude"].astype(float)
nr_2018["end station longitude"] = nr_2018["end station longitude"].astype(float)

In [15]:
# Fix dtypes - numbers
nr_2018["tripduration"] = nr_2018["tripduration"].astype(int)

In [16]:
nr_2018.rename(columns={"start_time" : "start_datetime", 
                        "start station name" : "start_station_name", 
                        "start station id" : "start_station_id",
                        "end_time" : "end_datetime",
                        "end station name" : "end_station_name",
                        "end station id" : "end_station_id",
                        "tripduration" : "total_duration_sec",
                        "usertype" : "account_type",
                        "start station latitude" : "start_station_lat",
                        "start station longitude" : "start_station_lng",
                        "end station latitude" : "end_station_lat",
                        "end station longitude" : "end_station_lng",
                        "bike type" : "bike_type"}, 
              inplace=True)

In [17]:
nr_2018

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,bikeid,account_type,birth year,gender,bike_type
0,1373,2018-04-24 16:03:04.270,2018-04-24 16:25:57.601,170,Boom Island Park,44.992540,-93.270256,2,100 Main Street SE,44.984892,-93.256551,2,Customer,1969,0,Classic
1,1730,2018-04-24 16:38:40.521,2018-04-24 17:07:31.107,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Customer,1969,0,Classic
2,547,2018-04-24 17:51:10.145,2018-04-24 18:00:17.451,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978210,-93.260230,2,Subscriber,1985,2,Classic
3,856,2018-04-24 18:50:05.739,2018-04-24 19:04:22.036,94,Portland Ave & Washington Ave,44.978210,-93.260230,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Subscriber,1985,2,Classic
4,455,2018-04-25 08:49:05.272,2018-04-25 08:56:40.306,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,2,Subscriber,1988,1,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412418,249,2018-11-13 00:07:32.499,2018-11-13 00:11:41.571,NaN,NaN,44.980000,-93.230000,NaN,NaN,44.980000,-93.230000,3340,Customer,1999,2,Dockless
412419,735,2018-11-01 12:38:59.308,2018-11-01 12:51:15.113,NaN,NaN,44.970000,-93.280000,NaN,NaN,44.980000,-93.260000,3341,Customer,1954,1,Dockless
412420,319,2018-11-02 08:15:17.232,2018-11-02 08:20:36.323,NaN,NaN,44.980000,-93.260000,NaN,NaN,44.990000,-93.260000,3341,Customer,1988,1,Dockless
412421,915,2018-11-02 16:53:34.665,2018-11-02 17:08:50.213,NaN,NaN,44.990000,-93.260000,NaN,NaN,44.970000,-93.270000,3341,Customer,1988,1,Dockless
412422,1711,2018-11-03 13:11:26.249,2018-11-03 13:39:57.311,NaN,NaN,44.970000,-93.280000,NaN,NaN,44.980000,-93.240000,3341,Customer,1994,2,Dockless

In [18]:
nr_2018 = nr_2018.drop(columns=["bikeid", "birth year", "gender"])
nr_2018.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,1373,2018-04-24 16:03:04.270,2018-04-24 16:25:57.601,170,Boom Island Park,44.992540,-93.270256,2,100 Main Street SE,44.984892,-93.256551,Customer,Classic
1,1730,2018-04-24 16:38:40.521,2018-04-24 17:07:31.107,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Customer,Classic
2,547,2018-04-24 17:51:10.145,2018-04-24 18:00:17.451,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978210,-93.260230,Subscriber,Classic
3,856,2018-04-24 18:50:05.739,2018-04-24 19:04:22.036,94,Portland Ave & Washington Ave,44.978210,-93.260230,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Subscriber,Classic
4,455,2018-04-25 08:49:05.272,2018-04-25 08:56:40.306,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,Subscriber,Classic

In [19]:
# Export Combined .csv
nr_2018.to_csv(path_or_buf="../Input_Data/Nice_ride_trip_history_2018_season.csv", index=False)

In [20]:
station_list = nr_2018["start_station_id"].unique()
station_list

array(['170', '2', '13', '94', '43', '167', '157', '153', '201', '180',
       '160', '158', '93', '188', '61', '190', '209', '26', '38', '19',
       '41', '62', '27', '17', '21', '208', '80', '7', '120', '28', '79',
       '37', '105', '172', '171', '212', '196', '8', '56', '193', '66',
       '59', '22', '3', '29', '154', '202', '174', '95', '214', '195',
       '205', '211', '92', '206', '96', '36', '49', '10', '164', '210',
       '74', '54', '189', '35', '9', '53', '102', '197', '97', '46', '60',
       '149', '169', '112', '63', '52', '91', '198', '108', '207', '111',
       '85', '15', '48', '30', '191', '16', '18', '118', '11', '162',
       '81', '156', '219', '20', '148', '31', '39', '113', '34', '64',
       '131', '12', '50', '51', '47', '88', '186', '147', '200', '194',
       '55', '124', '98', '84', '14', '82', '83', '183', '159', '89',
       '204', '177', '68', '107', '142', '104', '44', '69', '4', '123',
       '217', '132', '146', '100', '126', '161', '192', '163', '140',
       '115', '144', '90', '137', '45', '101', '65', '150', '6', '23',
       '67', '128', '145', '106', '166', '77', '136', '139', '5', '216',
       '165', '116', '133', '138', '203', '134', '135', '125', '122',
       '42', '152', '99', '121', '110', '70', '109', '119', '130', '199',
       '141', '87', '72', '127', '71', '114', '86', '213', '73', '75',
       '184', '25', '173', '117', '223', '185', '222', '151', '24', '143',
       '224', '225', '181', nan, '226'], dtype=object)

In [21]:
len(station_list)

205

In [23]:
dockless_df = nr_2018.loc[nr_2018["bike_type"] != "Classic"]

In [24]:
dockless_df

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
317265,138,2018-08-14 13:59:29.809,2018-08-14 14:01:47.907,NaN,NaN,44.95,-93.22,NaN,NaN,44.95,-93.22,Subscriber,Dockless
317266,603,2018-08-16 16:58:18.469,2018-08-16 17:08:22.371,NaN,NaN,44.95,-93.22,NaN,NaN,44.95,-93.22,Subscriber,Dockless
317267,320,2018-08-16 10:56:44.424,2018-08-16 11:02:04.508,NaN,NaN,44.95,-93.22,NaN,NaN,44.95,-93.22,Subscriber,Dockless
317268,514,2018-08-16 11:07:19.527,2018-08-16 11:15:54.508,NaN,NaN,44.95,-93.22,NaN,NaN,44.95,-93.22,Subscriber,Dockless
317269,530,2018-08-16 11:24:27.207,2018-08-16 11:33:18.088,NaN,NaN,44.95,-93.22,NaN,NaN,44.95,-93.22,Subscriber,Dockless
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412418,249,2018-11-13 00:07:32.499,2018-11-13 00:11:41.571,NaN,NaN,44.98,-93.23,NaN,NaN,44.98,-93.23,Customer,Dockless
412419,735,2018-11-01 12:38:59.308,2018-11-01 12:51:15.113,NaN,NaN,44.97,-93.28,NaN,NaN,44.98,-93.26,Customer,Dockless
412420,319,2018-11-02 08:15:17.232,2018-11-02 08:20:36.323,NaN,NaN,44.98,-93.26,NaN,NaN,44.99,-93.26,Customer,Dockless
412421,915,2018-11-02 16:53:34.665,2018-11-02 17:08:50.213,NaN,NaN,44.99,-93.26,NaN,NaN,44.97,-93.27,Customer,Dockless
412422,1711,2018-11-03 13:11:26.249,2018-11-03 13:39:57.311,NaN,NaN,44.97,-93.28,NaN,NaN,44.98,-93.24,Customer,Dockless