In [3]:
#Dependencies
import pandas as pd
import numpy as np

In [4]:
#Import CSV Files
apr_18_path = "201804-niceride-tripdata.csv"
may_18_path = "201805-niceride-tripdata.csv"
jun_18_path = "201806-niceride-tripdata.csv"
jul_18_path = "201807-niceride-tripdata.csv"
aug_18_path = "201808-niceride-tripdata.csv"
sep_18_path = "201809-niceride-tripdata.csv"
oct_18_path = "201810-niceride-tripdata.csv"
nov_18_path = "201811-niceride-tripdata.csv"

In [5]:
#Read data to df
apr_2018 = pd.read_csv(apr_18_path, dtype=str)
len(apr_2018)

18303

In [6]:
may_2018 = pd.read_csv(may_18_path, dtype=str)
len(may_2018)

66882

In [7]:
jun_2018 = pd.read_csv(jun_18_path, dtype = str)
len(jun_2018)

74349

In [8]:
jul_2018 = pd.read_csv(jul_18_path, dtype = str)
len(jul_2018)

86008

In [9]:
aug_2018 = pd.read_csv(aug_18_path, dtype=str)
len(aug_2018)

71734

In [10]:
sep_2018 = pd.read_csv(sep_18_path, dtype=str)
len(sep_2018)

56692

In [11]:
oct_2018 = pd.read_csv(oct_18_path, dtype=str)
len(oct_2018)

33384

In [12]:
nov_2018 = pd.read_csv(nov_18_path, dtype=str)
len(nov_2018)

5071

In [13]:
# Append frames
nr_2018 = apr_2018.append(may_2018, ignore_index=True)
nr_2018 = nr_2018.append(jun_2018, ignore_index=True)
nr_2018 = nr_2018.append(jul_2018, ignore_index=True)
nr_2018 = nr_2018.append(aug_2018, ignore_index=True)
nr_2018 = nr_2018.append(sep_2018, ignore_index=True)
nr_2018 = nr_2018.append(oct_2018, ignore_index=True)
nr_2018 = nr_2018.append(nov_2018, ignore_index=True)
len(nr_2018)

412423

In [14]:
nr_2018.head()

,tripduration,start_time,end_time,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,bike type
0,1373,2018-04-24 16:03:04.2700,2018-04-24 16:25:57.6010,170,Boom Island Park,44.99254,-93.270256,2,100 Main Street SE,44.984892,-93.256551,2,Customer,1969,0,Classic
1,1730,2018-04-24 16:38:40.5210,2018-04-24 17:07:31.1070,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Customer,1969,0,Classic
2,547,2018-04-24 17:51:10.1450,2018-04-24 18:00:17.4510,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,2,Subscriber,1985,2,Classic
3,856,2018-04-24 18:50:05.7390,2018-04-24 19:04:22.0360,94,Portland Ave & Washington Ave,44.978209822323755,-93.26023042201996,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,2,Subscriber,1985,2,Classic
4,455,2018-04-25 08:49:05.2720,2018-04-25 08:56:40.3060,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,2,Subscriber,1988,1,Classic

In [15]:
# Fix dtypes - datetime
nr_2018["start_time"] = pd.to_datetime(nr_2018["start_time"])
nr_2018["end_time"] = pd.to_datetime(nr_2018["end_time"])

In [16]:
# Fix dtypes - coordinates
nr_2018["start station latitude"] = nr_2018["start station latitude"].astype(float)
nr_2018["start station longitude"] = nr_2018["start station longitude"].astype(float)
nr_2018["end station latitude"] = nr_2018["end station latitude"].astype(float)
nr_2018["end station longitude"] = nr_2018["end station longitude"].astype(float)

In [17]:
# Fix dtypes - numbers
nr_2018["tripduration"] = nr_2018["tripduration"].astype(int)

In [18]:
# Fix dtypes - strings
nr_2018["start station id"] = nr_2018["start station id"].convert_dtypes()
nr_2018["start station name"] = nr_2018["start station name"].convert_dtypes()
nr_2018["end station id"] = nr_2018["end station id"].convert_dtypes()
nr_2018["end station name"] = nr_2018["end station name"].convert_dtypes()
nr_2018["usertype"] = nr_2018["usertype"].convert_dtypes()
nr_2018["bike type"] = nr_2018["bike type"].convert_dtypes()

In [19]:
nr_2018.dtypes

tripduration                        int32
start_time                 datetime64[ns]
end_time                   datetime64[ns]
start station id                   string
start station name                 string
start station latitude            float64
start station longitude           float64
end station id                     string
end station name                   string
end station latitude              float64
end station longitude             float64
bikeid                             object
usertype                           string
birth year                         object
gender                             object
bike type                          string
dtype: object

In [20]:
# Rename columns for universal format
nr_2018.rename(columns={"start_time" : "start_datetime", 
                        "start station name" : "start_station_name", 
                        "start station id" : "start_station_id",
                        "end_time" : "end_datetime",
                        "end station name" : "end_station_name",
                        "end station id" : "end_station_id",
                        "tripduration" : "total_duration_sec",
                        "usertype" : "account_type",
                        "start station latitude" : "start_station_lat",
                        "start station longitude" : "start_station_lng",
                        "end station latitude" : "end_station_lat",
                        "end station longitude" : "end_station_lng",
                        "bike type" : "bike_type"}, 
              inplace=True)

In [21]:
# Drop unnecessary info
nr_2018 = nr_2018.drop(columns=["bikeid", "birth year", "gender"])
nr_2018.head()

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,1373,2018-04-24 16:03:04.270,2018-04-24 16:25:57.601,170,Boom Island Park,44.992540,-93.270256,2,100 Main Street SE,44.984892,-93.256551,Customer,Classic
1,1730,2018-04-24 16:38:40.521,2018-04-24 17:07:31.107,2,100 Main Street SE,44.984892,-93.256551,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Customer,Classic
2,547,2018-04-24 17:51:10.145,2018-04-24 18:00:17.451,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,94,Portland Ave & Washington Ave,44.978210,-93.260230,Subscriber,Classic
3,856,2018-04-24 18:50:05.739,2018-04-24 19:04:22.036,94,Portland Ave & Washington Ave,44.978210,-93.260230,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,Subscriber,Classic
4,455,2018-04-25 08:49:05.272,2018-04-25 08:56:40.306,13,North 2nd Street & 4th Ave N,44.986087,-93.272459,43,Nicollet Mall & 10th Street,44.973839,-93.274544,Subscriber,Classic

In [22]:
nr_2018["account_type"]=nr_2018["account_type"].str.replace("Customer", "Casual")
nr_2018["account_type"]=nr_2018['account_type'].str.replace("Subscriber", "Member")

In [23]:
# Re-sort by datetime
nr_2018= nr_2018.sort_values(["start_datetime"], ignore_index=True)
nr_2018

,total_duration_sec,start_datetime,end_datetime,start_station_id,start_station_name,start_station_lat,start_station_lng,end_station_id,end_station_name,end_station_lat,end_station_lng,account_type,bike_type
0,2490,2018-04-12 08:49:49.855,2018-04-12 09:31:20.522,10,Midtown Exchange,44.948590,-93.260200,45,Franklin & Portland,44.962841,-93.267521,Member,Classic
1,228,2018-04-12 09:29:22.149,2018-04-12 09:33:10.525,16,22nd Ave S & Franklin Ave,44.962930,-93.241042,49,Franklin & 28th Ave,44.962701,-93.230893,Member,Classic
2,80,2018-04-12 10:15:30.340,2018-04-12 10:16:51.143,21,Social Sciences,44.970639,-93.243552,209,Willey Hall,44.972404,-93.242891,Member,Classic
3,755,2018-04-12 11:02:00.775,2018-04-12 11:14:36.357,10,Midtown Exchange,44.948590,-93.260200,31,Hennepin County Government Center,44.976602,-93.266701,Member,Classic
4,850,2018-04-12 11:09:51.580,2018-04-12 11:24:02.195,18,Walker Art Center,44.967104,-93.289075,31,Hennepin County Government Center,44.976602,-93.266701,Member,Classic
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412418,314,2018-11-17 20:53:18.470,2018-11-17 20:58:32.944,<NA>,<NA>,44.950000,-93.280000,<NA>,<NA>,44.960000,-93.280000,Casual,Dockless
412419,588,2018-11-17 21:06:47.418,2018-11-17 21:16:35.618,<NA>,<NA>,44.970000,-93.240000,<NA>,<NA>,44.990000,-93.230000,Casual,Dockless
412420,323,2018-11-17 21:47:30.035,2018-11-17 21:52:53.874,<NA>,<NA>,44.950000,-93.290000,<NA>,<NA>,44.950000,-93.300000,Casual,Dockless
412421,347,2018-11-17 23:13:49.125,2018-11-17 23:19:36.587,<NA>,<NA>,44.970000,-93.230000,<NA>,<NA>,44.980000,-93.240000,Casual,Dockless
412422,124464,2018-11-17 23:51:45.365,2018-11-19 10:26:09.952,<NA>,<NA>,44.960000,-93.280000,<NA>,<NA>,44.950000,-93.280000,Casual,Dockless

In [24]:
## Export Combined .csv
nr_2018.to_csv(path_or_buf="../Resources/Nice_ride_trip_history_2018_season.csv", index=False)

In [ ]:
# Create dataframe with all dockless bike info
dockless2018_df = nr_2018.loc[pd.isna(nr_2018["start_station_id"])]
dockless2018_df

In [ ]:
# Create dataframe with all stationed bike info
docked2018_df = nr_2018.dropna(axis=0)
docked2018_df

In [ ]:
# Build a station location dataframe
# Collect unique info

station_id = docked2018_df.start_station_id.unique()
station_name = docked2018_df.start_station_name.unique()
station_lat = docked2018_df.start_station_lat.unique()
station_lng = docked2018_df.start_station_lng.unique()

station_id = list(station_id)
station_name = list(station_name)
station_lat = list(station_lat)
station_lng = list(station_lng)

print(len(station_id))
print(len(station_name))
print(len(station_lat))
print(len(station_lng))

In [ ]:
# Create df
station_18 = pd.DataFrame({"station_id" : station_id,
                           "station_name" : station_name,
                           "station_lat" : station_lat,
                           "station_lng" : station_lng})
station_18

In [ ]:
# Format station locations into sortable form
station_18['station_id'] = station_18['station_id'].apply('{0:0>5}'.format)

In [ ]:
# Sort by station id
station_18.sort_values(by="station_id", ignore_index=True, inplace=True)

In [ ]:
station_18

In [ ]:
# Export station list to .csv
station_18.to_csv(path_or_buf="../Resources/Nice_ride_2018_station_locations.csv", index=False)