In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
#Import CSV Files
apr_20_path = "202004-niceride-tripdata.csv"
may_20_path = "202005-niceride-tripdata.csv"
jun_20_path = "202006-niceride-tripdata.csv"
jul_20_path = "202007-niceride-tripdata.csv"
aug_20_path = "202008-niceride-tripdata.csv"
sep_20_path = "202009-niceride-tripdata.csv"
oct_20_path = "202010-niceride-tripdata.csv"
nov_20_path = "202011-niceride-tripdata.csv"

In [3]:
#Read data to df
apr_2020 = pd.read_csv(apr_20_path, dtype=str)
len(apr_2020)

13296

In [4]:
may_2020 = pd.read_csv(may_20_path, dtype=str)
len(may_2020)

25646

In [5]:
jun_2020 = pd.read_csv(jun_20_path, dtype = str)
len(jun_2020)

36115

In [6]:
jul_2020 = pd.read_csv(jul_20_path, dtype = str)
len(jul_2020)

45929

In [7]:
aug_2020 = pd.read_csv(aug_20_path, dtype=str)
len(aug_2020)

49371

In [8]:
sep_2020 = pd.read_csv(sep_20_path, dtype=str)
len(sep_2020)

37243

In [9]:
oct_2020 = pd.read_csv(oct_20_path, dtype=str)
len(oct_2020)

19377

In [10]:
nov_2020 = pd.read_csv(nov_20_path, dtype=str)
len(nov_2020)

2100

In [11]:
# Append frames
nr_2020 = apr_2020.append(may_2020, ignore_index=True)
nr_2020 = nr_2020.append(jun_2020, ignore_index=True)
nr_2020 = nr_2020.append(jul_2020, ignore_index=True)
nr_2020 = nr_2020.append(aug_2020, ignore_index=True)
nr_2020 = nr_2020.append(sep_2020, ignore_index=True)
nr_2020 = nr_2020.append(oct_2020, ignore_index=True)
nr_2020 = nr_2020.append(nov_2020, ignore_index=True)
len(nr_2020)

229077

In [12]:
nr_2020.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,37276F98FD2F1372,docked_bike,2020-04-29 17:41:02,2020-04-29 18:20:55,Lake Street & West River Parkway,149,Coldwater Spring,155,44.9485,-93.2062,44.905,-93.1983,member
1,52B4BA53A4AF9262,docked_bike,2020-04-11 19:28:44,2020-04-11 19:47:35,Portland Ave & Washington Ave,91,Franklin & 28th Ave,47,44.9782,-93.2602,44.9627,-93.2309,casual
2,C836B5042CA2400C,docked_bike,2020-04-18 18:04:00,2020-04-18 18:46:34,30th Ave SE & SE 4th Street,220,30th Ave SE & SE 4th Street,220,44.9714,-93.2134,44.9714,-93.2134,casual
3,84A14A4D0DCB3D58,docked_bike,2020-04-28 22:20:20,2020-04-28 23:06:16,22nd Ave S & Franklin Ave,16,22nd Ave S & Franklin Ave,16,44.9629,-93.241,44.9629,-93.241,casual
4,DD8171CB206BD356,docked_bike,2020-04-26 14:47:36,2020-04-26 15:54:38,Washington & Marquette,30,Washington Ave S & 10th Ave S,48,44.981,-93.2669,44.9765,-93.2552,casual

In [13]:
# Fix dtypes - datetime
nr_2020["started_at"] = pd.to_datetime(nr_2020["started_at"])
nr_2020["ended_at"] = pd.to_datetime(nr_2020["ended_at"])

In [14]:
# Fix dtypes - coordinates
nr_2020["start_lat"] = nr_2020["start_lat"].astype(float)
nr_2020["start_lng"] = nr_2020["start_lng"].astype(float)
nr_2020["end_lat"] = nr_2020["end_lat"].astype(float)
nr_2020["end_lng"] = nr_2020["end_lng"].astype(float)

In [15]:
nr_2020 = nr_2020.drop(columns=["ride_id"])
nr_2020.head()

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,docked_bike,2020-04-29 17:41:02,2020-04-29 18:20:55,Lake Street & West River Parkway,149,Coldwater Spring,155,44.9485,-93.2062,44.9050,-93.1983,member
1,docked_bike,2020-04-11 19:28:44,2020-04-11 19:47:35,Portland Ave & Washington Ave,91,Franklin & 28th Ave,47,44.9782,-93.2602,44.9627,-93.2309,casual
2,docked_bike,2020-04-18 18:04:00,2020-04-18 18:46:34,30th Ave SE & SE 4th Street,220,30th Ave SE & SE 4th Street,220,44.9714,-93.2134,44.9714,-93.2134,casual
3,docked_bike,2020-04-28 22:20:20,2020-04-28 23:06:16,22nd Ave S & Franklin Ave,16,22nd Ave S & Franklin Ave,16,44.9629,-93.2410,44.9629,-93.2410,casual
4,docked_bike,2020-04-26 14:47:36,2020-04-26 15:54:38,Washington & Marquette,30,Washington Ave S & 10th Ave S,48,44.9810,-93.2669,44.9765,-93.2552,casual

In [21]:
nr_2020.rename(columns={"started_at" : "start_datetime", 
                        "start_station_name" : "start_station_name", 
                        "start_station_id" : "start_station_id",
                        "ended_at" : "end_datetime",
                        "end_station_name" : "end_station_name",
                        "end_station_id" : "end_station_id",
                        "member_casual" : "account_type",
                        "start_lat" : "start_station_lat",
                        "start_lng" : "start_station_lng",
                        "end_lat" : "end_station_lat",
                        "end_lng" : "end_station_lng",
                        "rideable_type" : "bike_type"}, 
              inplace=True)

In [22]:
# Export combined .csv
nr_2020.to_csv(path_or_buf="../Input_Data/Nice_ride_trip_history_2020_season.csv", index=False)

In [23]:
station_list = nr_2020["start_station_id"].unique()
station_list

array(['149', '91', '220', '16', '30', '90', '159', '46', '188', '49',
       '32', '41', '198', '51', '39', '169', '146', '199', '221', '168',
       '63', '801', '806', '112', '62', '805', '209', '92', '45', '93',
       '153', '158', '117', '23', '97', '114', '31', '19', '210', '202',
       '148', '8', '2', '105', '68', '919', '205', '186', '111', '115',
       '195', '156', '52', '838', '94', '89', '187', '145', '116', '60',
       '214', '192', '82', '839', '67', '170', '4', '206', '194', '22',
       '75', '182', '15', '144', '56', '99', '196', '181', '155', '804',
       '12', '803', '53', '200', '95', '163', '212', '167', '40', '807',
       '7', '646', '18', '197', '632', '162', '27', '50', '845', '10',
       '165', '223', '24', '47', '21', '36', '37', '33', '207', '110',
       '820', '17', '96', '88', '20', '175', '73', '858', '860', '846',
       '28', '76', '66', '189', '42', '83', '147', '9', '57', '71', '65',
       '821', '64', '70', '26', '920', '29', '802', '59', '849', '48',
       '61', '72', '150', '808', '928', '43', '35', '203', '13', '55',
       '859', '34', '217', '208', '3', '5', '840', '171', '98', '25',
       '822', '69', '819', '211', '609', '224', '204', '857', nan, '929',
       '930'], dtype=object)

In [24]:
len(station_list)

172

In [26]:
electric_df = nr_2020.loc[nr_2020["bike_type"] != "docked_bike"]
electric_df

,bike_type,start_datetime,end_datetime,start_station_name,start_station_id,end_station_name,end_station_id,start_station_lat,start_station_lng,end_station_lat,end_station_lng,account_type
14399,electric_bike,2020-05-28 06:51:49,2020-05-28 07:04:10,100 Main Street SE,2,S 5th St & S Marquette Ave,NaN,44.9848,-93.2561,44.979000,-93.270300,member
14400,electric_bike,2020-05-28 11:35:30,2020-05-28 11:42:41,S 5th Street & Nicollet Mall,182,6th Ave SE & University Ave,89,44.9790,-93.2701,44.983300,-93.248100,member
14899,electric_bike,2020-05-27 15:42:02,2020-05-27 15:55:58,Riverside Ave & 23rd Ave S,4,S 5th St & S Marquette Ave,NaN,44.9671,-93.2402,44.978900,-93.269900,member
15626,electric_bike,2020-05-27 20:51:16,2020-05-27 21:35:56,26th Street & Hennepin,46,26th Street & Hennepin,46,44.9555,-93.2972,44.955400,-93.297300,member
18972,electric_bike,2020-05-27 19:17:23,2020-05-27 19:52:12,NaN,NaN,NaN,NaN,44.9871,-93.2559,44.986500,-93.250600,casual
...,...,...,...,...,...,...,...,...,...,...,...,...
229072,electric_bike,2020-11-03 13:28:26,2020-11-03 13:55:17,E 25th St & 30th Ave S,NaN,Lake of the Isles Park,806,44.9600,-93.2300,44.951438,-93.308441,casual
229073,electric_bike,2020-11-03 07:39:52,2020-11-03 07:47:39,Oak Grove St & Spruce Pl,NaN,Elliot Park,65,44.9700,-93.2800,44.970109,-93.261515,casual
229074,electric_bike,2020-11-01 09:29:55,2020-11-01 09:33:04,S 10th Ave & Midtown Greenway,NaN,NaN,NaN,44.9500,-93.2600,44.960000,-93.260000,casual
229075,electric_bike,2020-11-01 00:50:46,2020-11-01 00:59:05,NaN,NaN,NaN,NaN,44.9400,-93.2800,44.940000,-93.260000,casual
229076,electric_bike,2020-11-03 18:46:53,2020-11-03 18:53:51,Chicago Ave & S 9th St,NaN,Oak Grove St & Clifton Pl,NaN,44.9700,-93.2600,44.970000,-93.290000,casual

In [28]:
electric_df["bike_type"].value_counts()

electric_bike    91463
classic_bike      1606
Name: bike_type, dtype: int64